<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Delete</servlet-name>
  	<display-name>Delete</display-name>
  	<description></description>
  	<servlet-class>com.mycompany.Delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Deletee</servlet-name>
  	<display-name>Deletee</display-name>
  	<description></description>
  	<servlet-class>com.mycompany.Delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Search</servlet-name>
  	<display-name>Search</display-name>
  	<description></description>
  	<servlet-class>com.mycompany.Search</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>status</servlet-name>
  	<display-name>status</display-name>
  	<description></description>
  	<servlet-class>com.mycompany.status</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Sstatus</servlet-name>
  	<display-name>Sstatus</display-name>
  	<description></description>
  	<servlet-class>com.mycompany.Sstatus</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Delete</servlet-name>
  	<url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Deletee</servlet-name>
  	<url-pattern>/Deletee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Search</servlet-name>
  	<url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>status</servlet-name>
  	<url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Sstatus</servlet-name>
  	<url-pattern>/Sstatus</url-pattern>
  </servlet-mapping>
</web-app>
